body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    border-bottom: 2px solid black;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 8px;
}

nav {
    text-align: center;
    padding: 0.25%;
}

ul {
    list-style-type: none;
    padding: 0.25%;
}

li {
    display: inline;
    margin: 0 10px;
}

.font_2 {
    font-size: 40px;
    font-family: 'varela round', sans-serif;
    position: absolute;
    top: 25%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
}

.main-heading {
    font-size: 37px;
    font-weight: bold;
    color: white;
    margin-left: 8rem;
}

.main-name span {
    font-size: 37px;
    font-weight: bold;
    color: white;
}

.sub-heading {
    font-size: 23px;
    font-weight: bold;
    color: white;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

/* Media Queries for Mobile and Tablet */
@media (max-width: 768px) {
    h1 {
        width: 80%;
    }

    .font_2 {
        font-size: 30px;
        left: 2%;
    }

    .main-heading {
        font-size: 28px;
        margin-left: 2rem;
    }

    .main-name span {
        font-size: 28px;
    }

    .sub-heading {
        font-size: 18px;
    }

    .carousel-item img {
        height: 300px;
    }
}

@media (max-width: 480px) {
    h1 {
        width: 90%;
    }

    .font_2 {
        font-size: 25px;
        left: 1%;
    }

    .main-heading {
        font-size: 24px;
        margin-left: 1rem;
    }

    .main-name span {
        font-size: 24px;
    }

    .sub-heading {
        font-size: 16px;
    }

    .carousel-item img {
        height: 200px;
    }
}
